.head{
    background-color: #F9F6E2;
}
.discount{
    color: #E527B2;
}
.head-btn{
    width: 156px;
    height: 56px;
    background-color: #E527B2;
    border-radius: 8px;
    color: white;
}
/* ......main section....... */
.cards{
    display: flex;
}
.left{
    flex: 70%;
    flex-grow: 7;
    
}
.right{
    flex: 30%;
    flex-grow: 3;
    padding-left: 10px;
    
}
.fa-star{
    color: #FFC107;
}
.line{
    border: 1px solid gray;
}